/* styles.css */
.badge-front-end {
  background-color: #43608a; 
}

.badge-ui-ux {
  background-color: #1d3557; 
}

.badge-motion-graphics {
  background-color: #aa3f48; 
}

.badge-design {
  background-color: #6e2d94; 
}

.badge-cms {
  background-color: #3c520e; 
}

/* projects.css */
.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags-list button {
  cursor: pointer;
}
